.shrink {
    -webkit-transform: scale(0.1);
    -moz-transform: scale(0.1);
    transform: scale(0.1);
    transition: all 1s ease;
}

.shrink-more {
    -webkit-transform: scale(0.05);
    -moz-transform: scale(0.05);
    transform: scale(0.05);
    transition: all 1s ease;
}
